.idea/
data/
/outputs/
/runs/
/features/
.DS_Store
backup_before_cleanup_20251022_102635.tar.gz
models/__pycache__/__init__.cpython-313.pyc
models/__pycache__/ml_models.cpython-313.pyc
sand_task1.egg-info/dependency_links.txt
sand_task1.egg-info/entry_points.txt
sand_task1.egg-info/not-zip-safe
sand_task1.egg-info/PKG-INFO
sand_task1.egg-info/requires.txt
sand_task1.egg-info/SOURCES.txt
sand_task1.egg-info/top_level.txt
sandcli/__pycache__/__init__.cpython-313.pyc
sandcli/__pycache__/ensemble.cpython-313.pyc
sandcli/__pycache__/evaluate.cpython-313.pyc
sandcli/__pycache__/featurize.cpython-313.pyc
sandcli/__pycache__/main.cpython-313.pyc
sandcli/__pycache__/predict.cpython-313.pyc
sandcli/__pycache__/prep.cpython-313.pyc
sandcli/__pycache__/split.cpython-313.pyc
sandcli/__pycache__/train.cpython-313.pyc
sandcli/utils/__pycache__/__init__.cpython-313.pyc
sandcli/utils/__pycache__/audio.cpython-313.pyc
sandcli/utils/__pycache__/metrics.cpython-313.pyc
sandcli/utils/__pycache__/visualization.cpython-313.pyc
notebooks/late_fusion_from_ideation_to_claude/venv/
experiments/
venv/